.table-section {
    text-align: center;
    align-items: center;

    h2 {
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
        color: red;
        text-align: start;
        margin-top: 50px;
        box-shadow: 20px 10px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
        width: 50%;

    }
}